@charset "utf-8";
#wrap {
    width: 100%;
    height: auto;
    /* background: #c99; */
}

#skip, #skip>li {
    font-size: 0;
}

#skip>li>a {
    display: block;
    padding: 0;
    font-size: 0;
    text-align: center;
    color: #f1f1f1;
    background-color: #444;
}

#skip>li>a:focus {
    padding: 20px 0;
    font-size: 18px;
}

.headerModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .75;
    z-index: 3;
    display: none;
}

.headerModal.addModal {
    display: block;
}

#header {
    width: 100%;
    height: 110px;
    background: #fff;
    position: relative;
    z-index: 4;
    max-width: 1438px;
    /* background: #c99; */
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin: 0 auto;
    /*padding: 20px 80px 0;
    box-sizing: border-box; */
}

#header.addModal {
    border: 0;
}

.header-wrap {
    width: auto;
    padding: 0 80px;
}

.header-nav-wrap {
    width: 100%;
    height: 110px;
}

/* 모바일 3라인 메뉴 버튼 */
.mobile-3line-btn-wrap {
    display: none;
    position: relative;
    top: 25px;
    left: 20px;
    width: 30px;
    height: 20px;
    /* background: #c00; */
}

.mobile-3line-btn-wrap>ul {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.mobile-3line-btn-wrap>ul>li {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ccc;
}

.mobile-3line-btn-wrap>ul>li:nth-child(1){
    top:0;
    transition: all .3s ease-in-out;
}

.mobile-3line-btn-wrap>ul>li:nth-child(1).addMobile3line {
    top: 50%;
    margin-top: -1px;
    transform: rotate(45deg)

}

.mobile-3line-btn-wrap>ul>li:nth-child(2){
    top:50%;
    width: 80%;
    margin-top: -1px;
    transition: all .3s ease-in-out;
}

.mobile-3line-btn-wrap>ul>li:nth-child(2).addMobile3line {
    left: 100%;
}

.mobile-3line-btn-wrap>ul>li:nth-child(3){
    bottom:0;
    transition: all .3s ease-in-out;
}

.mobile-3line-btn-wrap>ul>li:nth-child(3).addMobile3line {
    bottom: 50%;
    margin-bottom: -1px;
    transform: rotate(-45deg)
}

.mobile-3line-btn-wrap>a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
}

.header-nav-wrap>ul {}

.header-nav-wrap>ul>li:nth-child(1) {
    float: left;
    width: 129px;
}

.header-nav-wrap>ul>li:nth-child(1)>h1 {
    padding-top: 45px;
}

.header-nav-wrap>ul>li:nth-child(1)>h1>a>img {
    width: 100%;
    max-width: 129px;
    height: auto;
}

.header-nav-wrap>ul>li:nth-child(2) {
    float: right;
    width: 80%;
}

.header-nav-right-wrap {}

.header-nav-right-wrap>li {}

.header-nav-right-wrap>li>aside {
    padding-top: 20px;
}

.header-nav-right-wrap>li>ul {
    padding-top: 31px;
}

/* Aside Menu */

.header-nav-aside-wrap {
    float: right;
}

.header-nav-aside-wrap>li {
    float: left;
    margin-left: 42px;
}

.header-nav-aside-wrap>li>a {
    font-size: 14px;
    color: #444;
}

/* Main Menu */

.header-nav-mainBt-wrap {
    float: right;
    width: 100%;
}

.header-nav-mainBt-wrap>li {
    float: left;
    margin-left: 90px;
}

.header-nav-mainBt-wrap>li:first-child {
    margin: 0;
}

.header-nav-mainBt-wrap>li>a {
    display: block;
    position: relative;
    font-size: 19px;
    color: #555;
    font-weight: 600;
    padding-bottom: 25px;
}

.header-nav-mainBt-wrap>li>a>i {
    margin-left: 8px;
    margin-top: 2px;
    font-size: 14px;
    color: #888;
    transform: rotate(0);
    transition: all .3s ease-in-out;
}

.header-nav-mainBt-wrap>li>a:hover>i {
    transform: rotate(180deg);
}

.header-nav-mainBt-wrap>li>a:focus>i {
    transform: rotate(180deg);
}

.header-nav-mainBt-wrap>li>a>span {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #c00;
    transform:scale(0,1);
    transition: all .3s ease-in-out;
}

.header-nav-mainBt-wrap>li>a>span.addDeco {
    transform:scale(1,1)
}

/* Sub Menu */

.subMenu1 {
    position: absolute;
    display: block;
    left: 0;
    top: 110px;
    width: 100%;
    height: 414px;
    background: #fff;
    /* border-left: 1px solid #ddd; */
    /* border-right: 1px solid #ddd; */
}

.subMenu1 .subMenu-wrap {
    position: relative;
    width: auto;
}

.subMenu1 .subMenu-wrap>li:nth-child(1) {
    height: 64px;
    background: #f1f1f1;
    border-top: 1px solid #ddd;
}

.subMenu1 .subMenu-wrap>li:nth-child(2) {
    height: 350px;
    background: #fff;
}

/* Sub Sub */

.subMenu-sub-wrap {
    margin-left: 440px;
}

.subMenu-sub-wrap>li {
    float: left;
    margin-right: 110px;
}

.subMenu-sub-wrap>li>a {
    position: relative;
    display: block;
    font-size: 16px;
    color: #4f4c43;
    padding: 24px;
    transition: all .5s ease-in-out;
}

.subMenu-sub-wrap>li>a:hover {
    color: #b45f1a;
}

.subMenu-sub-wrap>li>a>span {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #c00;
    transform:scale(0,1);
    transition: all .4s ease-in-out;
}

.subMenu-sub-wrap>li>a>span.addDeco {
    transform:scale(1,1);
}

.subMenu-sub-4col-wrap {
    position: absolute;
    top: 80px;
    left: 150px;
    padding: 30px 0;
}

.subMenu-sub-4col-wrap > li {
    float: left;
    margin: 0 10px;
    text-align: center;
    border-right: 1px solid #ddd;
    width: 215px;
}

.subMenu-sub-4col-wrap > li:last-child {
    border: none;
}

.subMenu-sub-content-wrap {
    padding: 0 10px;
    /* outline: 1px solid red; */
}
.subMenu-sub-content-wrap > li{
    padding: 7px 0;
    text-align: center;
    color: #4f4c43;
}
.subMenu-sub-content-wrap > li > p{}
.subMenu-sub-content-wrap > li > p > a{}
.subMenu-sub-content-wrap > li > p > a > img {
    width: 100%;
}
.subMenu-sub-content-wrap > li > h4{
    font-size: 20px;
}
.subMenu-sub-content-wrap > li > h5{
    font-size: 20px;
}
.subMenu-sub-content-wrap > li > h6{
    font-size: 14px;
}
.subMenu-sub-content-wrap > li > h6 > a{
    font-size: 14px;
    color: #4f4c43;
    transition: all .3s ease-in-out;
}
.subMenu-sub-content-wrap > li > h6 > a:hover{
    color: #b45f1a;
}

/* Sub Menu3, 4, 5 */

.sub {
    position: absolute;
    left: 0;
    top: 110px;
    width: 100%;
    height: 199%;
}

.sub .subMenu-wrap {
    margin: 0 80px;
    width: auto;
    height: auto;
    background: #fff;
    padding: 60px 0 60px 100px;
}

.sub .subMenu-wrap>li {
    float: left;
    width: 259px;
    margin-right: 30px;
}

.sub .subMenu-wrap>li:last-child {
    margin-right: 10px;
}

.subMenu-list-wrap {}

.subMenu-list-wrap>li {
    padding: 10px 0;
}

.subMenu-list-wrap>li>h3 {
    font-size: 20px;
    color: #4f4c43;
    padding-bottom: 13px;
}

.subMenu-list-wrap>li>p {
    width: 100%;
    height: 1px;
    background: #ddd;
    margin-bottom: 7px;
}

.subMenu-list-wrap>li:nth-child(3) {
    padding-top: 15px;
}

.subMenu-list-wrap>li:nth-child(4) {
    padding-top: 15px;
}

.subMenu-list-wrap>li>a {
    font-size: 16px;
    color: #000;
    transition: all .5s ease-in-out;
}

.subMenu-list-wrap>li>a:hover {
    color: #c22;
}

.subMenu1 {
    display: none;
}
    .main1-sub1-1 {
        display: none;
    }
    .main1-sub1-2 {
        display: none;
    }
    .main1-sub1-3 {
        display: none;
    }
    
.subMenu3 {
    display: none;
}
.subMenu4 {
    display: none;
}
.subMenu5 {
    display: none;
}

/* 서브메뉴1, 3, 4, 5 */
.subMenu {
    display: none;
}

/* #header>h1 {
    float: left;
}

nav>ul {
    padding-top: 20px;
}

nav>ul>li {
    float: left;
    padding-left: 50px;
} */

#main {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    max-width: 1438px;
    /* background: #c99; */
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin: 0 auto;
}

#section1 {
    width: 100%;
    height: 719px;
    background: url(../img/1551795152429.jpg) no-repeat 0 50%;
    background-size: cover;
}

.mobile {
    display: none;
    width: 100%;
    height: auto;
}

.mobile img {
    width: 100%;
    height: auto;
}

#section2 {
    width: 100%;
    height: auto;
    background: #fff;
}

#section3 {
    width: 100%;
    height: auto;
    background: #f1f1f1;
}

#section4 {
    width: 100%;
    height: auto;
    background: #fff;
}

#section5 {
    width: 100%;
    height: auto;
    background: #f1f1f1;
}

#section6 {
    width: 100%;
    height: auto;
    background: #fff;
}

.section-wrap {
    width: auto;
    height: auto;
    padding: 80px;
}

.section-content-wrap {
    width: 100%;
}

.section-content-wrap>li {
    float: left;
    width: 50%;
    overflow: hidden;
}

.section-content-wrap.right>li {
    float: right;
}

.section-content-wrap>li>p>img {
    width: 100%;
    height: auto;
}

.section-content-wrap>li:nth-child(1)>ul {
    padding: 70px 25px 0 0;
    transition: all .5s ease-in-out;
}

.section-content-wrap.right>li:nth-child(1)>ul {
    padding: 70px 0 0 25px;
}

.section-content-wrap>li>ul>li>h2 {
    font-size: 36px;
    color: #000;
    padding-bottom: 30px;
}

.section-content-wrap>li>ul>li>p {
    font-size: 16px;
    color: #000;
    line-height: 150%;
    letter-spacing: -.8px;
}

.section-content-wrap>li:nth-child(2)>p {
    padding-left: 25px;
}

.section-content-wrap.right>li:nth-child(2)>p {
    padding-left: 0;
    padding-right: 25px;
}

/* @media screen and (max-width: 767px) {
    .section-content-wrap > li {
        float: none;
        width: 100%;
        height: auto;
        text-align: center;
    }

    .section-content-wrap.right > li {
        float: none;
    }

    .section-content-wrap > li:nth-child(1) > ul {
        padding: 0;
    }

    .section-content-wrap.right > li:nth-child(1) > ul  {
        padding: 0;
    }

    .section-content-wrap > li:nth-child(2) > p {
        padding: 25px 0 0 0;
    }

    .section-content-wrap.right > li:nth-child(2) > p {
        padding: 25px 0 0 0;
    }
} */

#section7 {
    width: 100%;
    height: auto;
    background: #fff;
}

.section7-wrap {
    position: relative;
    width: 100%;
    height: auto;
}

.section7-slide-wrap {
    position: relative;
    overflow: hidden;
}

.slide {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
}

.slide1 {
    position: relative;
    left: 0;
}

.slide2 {
    left: 100%;
}

.slide3 {
    left: 200%;
}

/* slide arrow button box */

.section7-slide-arrow-wrap {
    position: absolute;
    top: 50%;
    right: 0;
    width: 70px;
    height: 140px;
    margin-top: -70px;
}

.section7-slide-arrow-wrap>li {
    width: 100%;
    height: 70px;
}

.section7-slide-arrow-wrap>li>button {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: all .6s;
}

.section7-slide-arrow-wrap>li:first-child>button {
    background: rgba(180, 95, 26, .5);
}

.section7-slide-arrow-wrap>li>button:hover {
    background: rgba(255, 255, 255, .5);
}

.section7-slide-arrow-wrap>li>button>i {
    font-size: 40px;
    color: #fff;
}

.section7-slide-arrow-wrap>li>button:hover>i {
    color: #444;
}

/* slide navigation button box */

.section7-slide-nav-div-wrap {}

.section7-slide-nav-wrap {
    width: 100px;
    height: auto;
    margin: 0 auto;
    position: absolute;
    bottom: 70px;
    left: 50%;
    margin-left: -50px;
    z-index: 2;
}

.section7-slide-nav-wrap>li {
    float: left;
    margin: 0 10px;
    width: 10px;
    height: 10px;
    transition: all .3s
    /* outline: 1px solid white; */
}

.section7-slide-nav-wrap>li.addNavCircle {
    width: 20px;
    height: 20px;
    margin-top: -5px;
    /* outline: 1px solid white; */
}

.section7-slide-nav-wrap>li>a {
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
}

.section7-slide-nav-wrap>li.addNavCircle>a {
    background: transparent;
    border: 2px solid #fff;
    box-sizing: border-box;
}

.section7-slide-image {
    position: relative;
    width: 100%;
}

.slide>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 500px;
    background: rgba(0, 0, 0, .6);
    z-index: 1;
    color: #fff;
    transition: all .3s;
}

.slide>div.addAniText {
    left: -460px;
}

.section7-slide-content {
    padding: 120px 70px;
}

.section7-slide-content>li {
    color: #fff;
    padding-bottom: 10px;
}

.section7-slide-content>li>h3 {
    font-size: 14px;
    font-weight: 600;
}

.section7-slide-content>li>h2 {
    font-size: 24px;
    font-weight: 600;
}

.section7-slide-content>li>i {
    display: block;
    width: 100%;
    height: 1px;
    margin: 10px 0;
    background-color: #fff;
}

.section7-slide-content>li>p {
    font-size: 16px;
    line-height: 160%;
    padding-bottom: 10px;
}

.section7-slide-content>li>button {
    background-color: #b45f1a;
    color: #fff;
    font-size: 20px;
    width: 200px;
    height: 40px;
}

.section7-slide-content>li:last-child {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 20px;
    height: 34px;
    margin-top: -17px;
    font-size: 0;
}

.section7-slide-content>li>a>i {
    display: inline-block;
    width: 3px;
    height: 30px;
    border: 2px solid #fff;
    opacity: .7;
    margin: 0 1px;
}

#footer {
    width: 100%;
    height: 700px;
    position: relative;
    z-index: 1;
    max-width: 1438px;
    /* background: #c99; */
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin: 0 auto;
    /* background: lightskyblue; */
}

.footer-wrap {}

.footer-wrap>li {}

.footer-wrap>li:nth-child(1) {
    padding: 20px 0;
    background: #fff;
    height: auto;
    font-size: 24px;
    color: #4f4c43;
    text-align: center;
}

.footer-wrap>li:nth-child(1)>h2 {
    font-size: 24px;
}

.footer-wrap>li:nth-child(2) {
    padding: 35px 80px;
    background: #f1f1f1;
    height: auto;
    color: #a9a9a9;
}

.footer-wrap>li:nth-child(3) {
    padding: 80px 0;
    background: #fff;
    height: auto;
    color: #4f4c43;
}

.footer-wrap>li:nth-child(4) {
    padding: 10px 0;
    background: #000;
    height: 54px;
    box-sizing: border-box;
    color: #a9a9a9;
    font-size: 14px
}

.footer-telBox {
    float: left;
    padding: 10px;
    width: 33.333%;
    box-sizing: border-box;
}

.footer-telBox>li>i {
    font-size: 45px;
    padding-left: 20px;
    color: #b45f1a;
}

.footer-telBox>li:nth-child(1) {
    /* outline: 1px solid red; */
    width: 20%;
    height: 50px;
    float: left;
}

.footer-telBox>li:nth-child(2) {
    /* outline: 1px solid red; */
    width: 80%;
    float: left;
}

.footer-telBox>li>h3 {
    font-size: 16px;
    color: #b45f1a;
    text-align: center;
    padding-top: 10px;
}

.footer-telBox>li>p {
    font-size: 16px;
    color: #a9a9a9;
    text-align: center;
    padding-top: 10px;
}

/* Site Map */

.footer-row3 {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 30px 0;
}

.footer-row3>ul>li {
    float: left;
    width: 25%;
}

.footer-row3 h4 {
    font-size: 24px;
    padding: 20px;
    border-bottom: 1px solid #d9d9d9;
    padding-left: 50px;
}

.footer-row3 ul {
    padding-top: 20px;
    padding-left: 50px;
}

.footer-row3 ul>li {
    padding: 2px 0;
}

.footer-row3 ul>li>a {
    color: #a9a9a9;
    font-size: 14px;
}

.footer-row3 ul>li>a:hover {
    color: #b45f1a;
    transition: all .3s;
}

.footer-row4 {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background: #000;
}

.footer-row4>li {
    float: left;
}

.footer-row4>li:last-child {
    float: right;
}

.footer-row4>li>h2 {}

.footer-row4>li>h2>a>img {
    width: auto;
    height: 34px;
    padding-right: 30px;
}

.footer-row4>li>p {
    padding-top: 10px;
    font-size: 13px;
    color: rgba(255, 255, 255, .6);
}

.footer-row4>li>ul {}

.footer-row4>li>ul>li {
    float: left;
}

.footer-row4>li>ul>li>p {
    padding-top: 10px;
    padding-right: 20px;
    font-size: 13px;
    color: rgba(255, 255, 255, .6);
}

.footer-row4>li>ul>li>p:first-child {
    border-left: none;
}

.footer-row4>li>ul>li>p>a {
    font-size: 13px;
    color: rgba(255, 255, 255, .6);
}

/* #footer > ul {
    max-width: 920px;
    margin: 0 auto;
}

#footer > ul > li {
    float: left;
    width: 25%;
}

#footer > ul > li > h4{
    font-size: 24px;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

#footer > ul > li > ul{
    padding-left: 20px;
}

#footer > ul > li > ul > li {
    padding: 5px 0;
} */